---
import Layout from '../layouts/Layout.astro';
import ProductCard from '../components/ProductCard.tsx';

// Fetch products from Hygraph (our CMS)
const query = {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
      {
        products {
          name
          price
          quantity
          slug
          images {
            url(
              transformation: {
                document: {
                  output: {
                    format: webp
                  }
                }
              }
            )
          }
        }
      }`,
  }),
};

const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, query);
const json = await response.json();
const products = json.data.products;
---

<Layout title="Hilfa">
  <main class="flex flex-col justify-between">
    <div class="flex-grow">
      <ul role="list" class="flex flex-col space-y-4 lg:flex-row lg:space-y-0 lg:space-x-20 lg:justify-center lg:items-stretch p-4">
        {products.map((product: any) => (
          <ProductCard
            image={product.images[0].url}
            title={product.name}
            body="T-Shirt"
            price={product.price}
            href={`/products/${product.slug}`}
          />
        ))}
      </ul>
    </div>
  </main>
</Layout>
