---
import Layout from '../layouts/Layout.astro';
import ProductCard from '../components/ProductCard.astro';
---

<Layout title="Hilfa">
	<main>
		<h1>Welcome to Hilfa</h1>
		<ul role="list" class="link-card-grid">
      <!-- All these will be grabbed from the CMS instead -->
			<ProductCard
        image="https://shop.thrashermagazine.com/cdn/shop/files/JAKEDISH-NAVY-T-SHIRT-1.jpg?v=1698451514&width=1200"
        title="Product 1"
        body="T-Shirt"
        price='30.95'
        href="./"
			/>
		</ul>
	</main>
</Layout>
