---
import Layout from "../layouts/Layout.astro"
---
  <!-- Includes: contact us, about us, and socials -->
  <p>contact us </p>
  <p>about us </p>
  <a href="https://www.instagram.com/hilfastudios/">Hilfa Instagram</a>